* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none !important;
}


body {
    /* background-color: #cfbea6; */
    /* background: linear-gradient(135deg, #5FAAA7 0%, #1c2626 100%); */
    background-image: url(../../assets/imgs/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 185px;
    background: linear-gradient(135deg, #ffffff 0%, #5faaa8b3 100%);
    box-shadow: (0 2px 23px 0 rgba(0, 0, 0, 0.1),
            0 2px 49px 0 rgba(0, 0, 0, 0.06));

    margin-bottom: 30px;
    border-radius: 0px 100px 100px 0px;
}

.voltar {

    height: 160px;
    width: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.voltar a {
    margin-left: 20px;
    color: #bfbfbf;
}

.voltar a:hover {

    color: #9c9c9c;
}


.cabecalho {
    display: flex;
    align-items: center;

}

.img {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    background-color: white;

}

img {
    height: 120px;
    margin-left: 18px;
    margin-top: 20px;
}

.descricao h2 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.descricao h4 {
    font-size: 1.5rem;
    font-weight: 300;
}

.tipo {
    margin-left: 1.5rem;
}

.botao-anexar {
    border-radius: 5px;
    padding: 0px 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.5rem;
    background-color: #198754;
    width: 120px;
    height: 37px;
}

.botao-anexar input {
    color: #ffffff;
    border: none;
    background-color: #19875400;
}

.botao-anexar:hover,
.botao-anexar input:hover {
    background-color: #157347;

}

button i {
    margin-right: 10px;

}

footer.footer {
    height: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: rgb(52, 52, 52);
    box-shadow: (0 2px 23px 0 rgba(0, 0, 0, 0.1),
            0 2px 49px 0 rgba(0, 0, 0, 0.06));
}

.titulo-card {
    margin-left: 2rem;
    display: flex;
    
}

.titulo-card h2{
    margin-right: 15rem;
}

.dataTables_length label,
.dataTables_filter label {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 0.2rem 1rem;
    background-color: rgb(216, 216, 216);
    border-radius: 50px;

}

.dataTables_filter label {
    width: 240px;
}

.dataTables_length select {
    margin: 0rem 0.5rem;
    width: 45px;
}

.dataTables_filter input {
    width: 120px;
    margin-left: 1rem;
    border-radius: 10px;
}

.principal h2::after {
    content: '';
    display: block;
    width: 26rem;
    height: 0.3rem;
    background-color: #5FAAA7;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}


input:disabled,
select:disabled {
    background-color: #d3d3d3 !important;
}